<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

{% extends "base.peb.html" %}

{% block title %}{{ title }}{% endblock %}

{% block navigation %}
{% include "sidebar.peb.html" %}
{% endblock %}

{% block body %}
<div class="readable-area top-level-card">
<nav class="breadcrumb-bar">
{% autoescape false %}{{ breadcrumbs }}{% endautoescape %}
</nav>
{% block article %}{% endblock %}
</div>
{% endblock %}

{% block bodyClasses %}article-root{% endblock %}
