{% extends "article.peb.html" %}

{% block article %}
<h1 class="article-title">
Editing {{ articlePath }}
</h1>
<form action="/wiki/{{ articlePath }}?do=update" method="post">
    <label for="title-box">Title:</label>
    <input type="text" name="title" id="title-box" placeholder="{{ articlePath }}" value="{{ currentTitle }}">
    <div class="edit-area">
        <textarea id="editor" name="article_content" aria-label="Editor">{{ currentContent }}</textarea>
        <div class="titled-border" id="preview-holder">
            <div class="border-title">Preview</div>
            <div class="border-contents body-text" id="preview-area"></div>
        </div>
    </div>
    <div class="button-bar horizontal" id="edit-button-bar">
        <button type="submit">Save</button>
        <a href="/wiki/{{ articlePath }}?do=view" class="button-link"><button type="button">Cancel</button></a>
    </div>
</form>
{% endblock %}
